<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>6pm</title>
    <link rel="stylesheet" href="/webjars/adminlte/2.3.11/bootstrap/css/bootstrap.min.css">
    <style>
        .pm6-link-thumb > a > img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="center-block">
        <div class="row">
            <div class="col-lg-12">
                <h2>OOPS, Not Support Browser<small>;-(</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>우리 웹사이트는 <u>Internet Explorer</u>를 지원하지 않습니다.</p>
                <p>최신 브라우저를 설치해보세요!</p>
            </div>
            <div class="col-sm-8">
                <ul class="list-group">
                    <li class="pm6-link-thumb list-group-item">
                        <a href="https://www.google.com/intl/ko/chrome/" target="_blank">
                        <img
                            src="https://www.google.com/chrome/static/images/chrome-logo.svg"><span>Chrome Browser</span></a>
                    </li>
                    <li class="pm6-link-thumb list-group-item">
                        <a href="https://www.mozilla.org/ko/firefox/new/" target="_blank">
                        <img
                            src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo-md.f0603b4c28b4.png"/><span>Firefox Browser</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>