<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>OOPS</h1>
<h2>우리 웹사이트는 인터넷 익스플로러를 지원하지 않습니다.</h2>
<h4>아래 브라우저들 중에 하나를 설치해보세요!</h4>
<ul>
    <li><a href ="https://www.google.com/intl/ko/chrome/" target="_blank">Chrome Install</a></li>
    <li><a href ="https://www.microsoft.com/ko-kr/windows/microsoft-edge" target="_blank">Edge Install</a></li>
    <li><a href ="https://www.mozilla.org/ko/firefox/new/" target="_blank">FireFox Install</a></li>
</ul>
</body>
</html>